<%= form_for(@question_answer, :html=>{:multipart=>true}) do |f| %>
  <% if @question_answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question_answer.errors.count, "error") %> prohibited this question_answer from being saved:</h2>

      <ul>
      <% @question_answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :question %><br>
    <%= f.text_area :question, :required => true, :class=>"form-control textfield-border form-question" %>
  </div>
  <div class="form-group">
    <%= f.label :answer %><br>
    <%= f.text_area :answer, :required => true, :class=>"form-control textfield-border form-answer" %>
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.cl_image_upload :image, :class=>"feature-image"  %>
  </div>
  <div class="form-group">
    <%= label_tag "Tech tags" %><br>
    <%= f.text_area :tech, :class=>"form-control textfield-border" %>
  </div>
  <div class="button-center btn-div-custom">
    <%= f.submit :class=>"btn btn-primary btn-custom", :id=>"submit-answer" %>
  </div>
<% end %>
