<p id="notice"><%= notice %></p>
<h1>Web development</h1>
<h1>Interview Question and Answers</h1>

<% @question_answers.each do |q_a| %>
  <br>
  <%# link_to q_a.question, q_a, :remote => true, :class=>"index_link"  %>
  <!-- <h3>Question:</h3> -->
  <div class="question" id="<%= q_a.id %>">
    <%= q_a.question %><span class="caret"></span>
  </div>
  <br>
  <div id="answer<%= q_a.id %>" class="answer">
    <h4>Answer:</h4>
    <%= simple_format(q_a.answer) %>
  </div>
<% end %>
