<p id="notice"><%= notice %></p>

<h1>Interview Question and Answers</h1>
<%= link_to 'New Question answer', new_question_answer_path %>

<% @question_answers.each do |q_a| %>
  <h3>Question</h3>
    <%= q_a.question %>
  <h3>Answer</h3>
    <%= q_a.answer %>

  <%= link_to 'Show', q_a %>
  <%= link_to 'Edit', edit_question_answer_path(q_a) %>
<% end %>
